-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => @tClass}=link_to "Title", movies_path(:sort=>"bT"), id: "titleH"
      %th Rating
      %th{:class => @rClass}=link_to "Release Date", movies_path(:sort=>"bR"), id: "releaseH"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
= link_to 'Update movie' , upd_movies_path
= link_to 'Delete Movies' , del_page_path